*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/sass/img/background.jpg");
    margin-top: 3px;
}

.container1{
    background-color: $container-color;
    width: 400px;
    height: auto;
    padding: 5px;
}


p{
    color: white;
    margin-top: 3px;
}

label{
    color: white;
}

h2{
    color: white;
}

